*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


.cabecalho h1{
    color: yellow;
}

.cabecalho{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #180f4a;
    padding: 20px;
}

.contatos{
    text-align: right;
    padding: 10px;
    position: relative;
    top: -140px;
}

.contatos h2{
    color: white;
}

.contatos a{
    padding-left: 20px;
    color: white;
}

.contatos a:hover{
    color: black;
}

.logo h1{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 10%;
    position: relative;
    top: -250px; 
}




